.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 2px solid #f4f4f4;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.select2 {
    max-width: 100%;
    width: 100%;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.btn-grey {
   background-color: #5d5858; 
   color: white;
}
.btn-grey:hover {
    background-color: #5d5858; 
    color: white;
}
.btn-orange {
    background-color: #d3770e;
    color: white;
    border-color: #d3770e;
}
.btn-orange:hover{
    background-color: #d3770e;
    color: white;
}
.btn-status{
    background-color: #2fa8a8;
    color: white;
}
.btn-status:hover{
    background-color: #289292;
    color: white;
}

.body-wrapper{
    background-color: #ececec;
}

.btn-blue {
    background-color: #2870e4;
    color: white !important;
}
.btn-lightgrey{
    background-color: #8f8f8f;
    color: white;
}

.btn-lightgrey:hover{
    background-color: #747474;
    color: white;
}

.count{
    width: 378px;
    height: 200px;
    margin: 20px 20px 20px 20px 20px;
}

.count-heading{
    font-size: x-large;
}

.count-body{
    font-size: xx-large;
}

.stretched-link::after{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1;
    pointer-events:auto;
    content:"";
    background-color:rgba(0,0,0,0)
}

